<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Holloway Studio Office Scheduler</title>
</head>
<body>
    <header>
        <h2>Hollaway</h2>
        <h1>Scheduler</h1>
    </header>
    <main>
        <h1>Book a slot</h1>
        <form action="/book" method="POST">
            <label for="name">
                Name:
                <input type="text" name="name" id="name">
            </label><br>
            <label for="date">
                Date:
                <input type="date" name="date" id="date">
            </label><br>    
            <label for="duration">
                Duration:
                <input type="number" name="duration" id="duration"> minutes
            </label><br>
            <button>Submit</button>
        </form>
    </main>
</body>
</html>