<%- include('partials/header') %>

    <main style="margin-top: 2em">
        <div class="ui container center aligned">
            <button class="ui button"><a href="/availability">See availability</a></button>
            <button class="ui button"> <a href="/book">Book a slot</a></button>    
        </div>
    </main>

<%- include('partials/footer') %>