<%- include('partials/header') %>

    <main style="margin-top: 2em">
        <div class="ui container center aligned">
            <button class="ui large button"><a href="/slots">Booked Slots</a></button>
            <button class="ui large button"> <a href="/book">Book a slot</a></button>    
        </div>
    </main>

<%- include('partials/footer') %>